@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Superheroes </h1>
    <p class="lead">This application keeps track of your favorite superheroes.</p>
    @Html.ActionLink("Your Heroes", "Index", "Heroes")
</div>